body{
    background-color: rgb(100, 99, 99);
    margin:0px;
    padding:0px;
}
body, html {
    height: 100%;
  }
.newlogo{
    width: 100%;
    background-color: darkslategray;
    height: 130px;
    padding-bottom: 0px;
}

ul{
    margin:0px;
    padding:0px;
}
.main_menu li{
    list-style: none;
    width: 140px;
    height: 40px;
    background-color: rgb(252, 184, 252);
    opacity: 0.9;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    float: left
}

.main_menu li a{
    color:rgb(0, 0, 0);
    font-size:19px;
    display: block;
    text-decoration:none;
}

.main_menu li:hover{
    background-color: rgb(210, 120, 238);
}

.main_menu{
    position: absolute;
    width: 100%;
    background-color: rgb(208, 245, 245);
    height: auto;

} 

.main_menu ul li{
    margin: 0px;
    width: 400px;
}

.main_menu ul{
    display:none;
}

.main_menu li:hover ul{
    display:block;
}

.newlogo{
    width: 100%;
    background-color: darkslategray;
    height: 130px;
    padding-bottom: 0px;
}

.banner_1{
    position: center;
    width:100%;
    height: auto;
}
#fac_info{
    padding:40px;
}
#fac_info h1{
    background-color:rgb(182, 218, 99) ;
}

table{
    
    background-color: rgb(236, 255, 191);
    border: 3px solid seagreen;
    width:100%;
    height: auto;
    opacity: 0.8;
    font-size: 30px;
}
table td{
    padding:10px;
}

#events{
    margin-top: 50px;
    padding: 100px;
    background-color: rgb(245, 178, 153);
}
#events h1{
    background-color: rgb(255, 149, 110);
}

#clubs{
    padding:100px;
    margin-top: 50px;
    background-color: darkgrey;
}
#clubs h1{
    background-color: rgb(112, 111, 111);
    font-size: 45px;
}
#clubs ul{
    font-size: 35px;
}
#clubs li:hover{
    background-color: aliceblue;
}
.toppers{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#ach{
    font-size: 25px;
    background-color: rgb(255, 239, 146)
}
#ach h1{
    background-color: rgb(233, 201, 18);
}
#comp{
    padding:0px;
    background-color:rgb(204, 241, 139);
}
#comp h1{
    text-align: center;
}

#form{
    text-align: center;
    font-size: 20px;
    background-color: rgb(175, 238, 238);
}